
<h1>{{title}}</h1>
<h1>Willkommen zur Eventbuchung </h1>
<div *ngIf="!authService.isLoggedIn()" class="login-box">
  <h2>Login</h2>
  <!-- Zeigt eine Fehlermeldung, falls die Daten falsch sind -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onLogin(username,password)">
      <!-- 1. Feld: Benutzername -->
      <div class="input-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required>
      </div>
      <!-- 2. Feld: Passwort -->
      <div class="input-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required>
      </div>
      <!-- Absendebutton -->
      <button type="submit">Login</button>
    </form>
</div>

<div *ngIf="authService.isLoggedIn()">
  <button (click)="onlogout()" >Logout</button>
</div>
<p>{{response}}</p>


<p>app.component</p>
<p>_________________</p>


<router-outlet></router-outlet>
