.layout {
  display: flex;
  height: 100vh; /* Sidebar geht bis ganz unten */
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  background: #f7f7f7; /* optional: leichtes Grau statt Weiß */
  padding: 2rem;
}
