<p>login works!</p>

<div  class="login-box">


  <!-- Zeigt eine Fehlermeldung, falls die Daten falsch sind -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <form (ngSubmit)="onLogin(username,password)">
    <!-- 1. Feld: Benutzername -->
    <div class="input-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required>
    </div>

    <!-- 2. Feld: Passwort -->
    <div class="input-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required>
    </div>

    <!-- Absendebutton -->
    <button type="submit">Login</button>
  </form>
  <p>{{response}}</p>
  <button (click)="goToDashboard()" )>Go to Dashboard</button>

  <!-- TODO Logout Button nur anzeigen, wenn der User eingeloggt ist -->



</div>

<div *ngIf="loggedIn">
  <button (click)="logout()" )>Logout</button>
</div>
