<nav class="sidebar">
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Finance</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Cantine</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Vacation</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Sickleave</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Payroll</span>
  </button>
</nav>
