<nav class="sidebar">
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Nothing</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Nothing</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Nothing</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Nothing</span>

  </button>
  <button class="doesNothing">
    <span class="icon">😴</span>
      <span class="label">Nothing</span>
  </button>
</nav>
