.sidenbar-right{
  width: 80px;
  background-color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  border-left: 2px solid
}
.sidenbar-right button{
  background-color: var(--green_header);
  color:white;
  border: none;
  padding: 12px;
  border-radius:8px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 0.9rem;
}
