:root{
  --green_header: #149b5f;
  --sidebar_light_green: #a5cd50;
  --titel_header_yellow: #ffc832;
  --merck_purple: #503291;
  --merck_logo_blau: #0e69b0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

